body {
  text-align: center;
}

main {
  background-image: url(../media/about_us/about_us_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.heading {
  padding: 2rem;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: lighter;
}

h1 span {
  font-weight: 750;
  font-size: 3rem;
  line-height: 1;
}

.heading p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

h3:hover {
  color: rgba(5, 89, 172, 0.64);
}

p {
  font-weight: 500;
}

.filter {
  background-color: rgba(255, 255, 255, 0.664);
}

.container {
  position: relative;
  top: -1.5rem;
  width: 30%;
  padding: 1rem;
  border-radius: 20px;
  margin: auto;
  background-color: white;
  color: black;
  box-shadow: 0 15px 20px -10px rgba(0, 14, 19, 0.994);
}

.container p {
  margin-top: 0.3rem;
  text-align: justify;
}

.team-card {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: black;
  margin: auto;
}

.team-card .card {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 12px 10px -10px rgba(0, 14, 19, 0.994);
  padding: 8px;
  margin: 6rem auto 4rem;
}

.team-card .card:hover {
  background-color: #ffd8b2;
  transition: 0.3s;
}

.team-card .card .img-sect img {
  position: relative;
  top: -80px;
  left: -9px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 10px solid rgb(248, 84, 2);
}

.team-card .content {
  position: relative;
  top: -65px;
}

.team-card .content h4,
.team-card .content p {
  cursor: default;
}
