
body {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-image: url(images/bgabout.jpg.jpg  );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right, #202020, #424242, #737373);
    height: 53px;

}
.nav ul li, .user-actions a {
    color: #fff;
}

.user-actions .search-icon {
    color: #fff;
}

header div {
    display: flex;
    align-items: center;
}

header img {
    max-width: 200px;
    height: auto;
}
.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.nav ul li {
    margin-right: 70px;
    cursor: pointer;
}

.nav a {
    border-radius: 8px;
    color: #fff;
    display: flex;
    height: 33px;
    padding: 5px 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #000;
    color: #fff;
}

section {
    background-color: #00000097;
    background-image: url(#); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    padding: 10px;
    text-align: center;
}

h1{
    margin-top: -px;
    color: white;
    font-size: 30px;
}
section p{
    margin-top: -35px;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
h3:hover{
    color:rgba(5, 89, 172, 0.64);
}
p{
    font-weight: 500;
    font-size: 18px;
}

.container {
    width:400px;
    height: 120px;
    padding: 10px 20px 10px;
    border-radius: 20px;
    margin-top: -35px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-left: 520px;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 14, 19, 0.994);
}

.row h3{
    position: relative;
    width: 450px;
    padding: 5px 10px;
    margin-top: -5px;
    margin-right: -10px;
    margin-left:  -30px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}
.team-card{
    width: 30%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 35px;
}

.team-card .card{
    margin-top: -75px;
    width: 69%;
    height: 150px;
    background-color:white;
    border-radius: 10%;
    box-shadow: 0 4px 10px rgba(0, 14, 19, 0.994);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
}

.team-card .card:hover{
    background-color: #FFD8B2;
    transition: 0.3s;
}

.team-card .card .img-sect img{
    margin-top: -90px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(248, 84, 2); 
}

.team-card .card .content {
    width: 100%;
    text-align: center;
}

.team-card .card .content h5{
    width: 100%;
    text-align: center;
}

.team-card .card .content p{
    width: 100%;
    margin-top: -15px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

footer {
    background-color:white;
    color: black;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
