/* CSS DEFAULTS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
header,
main,
footer {
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL CSS */

.block {
  display: block;
}

/* HEADER */

body {
  font-family: Arial, sans-serif;
  color: #fff;
}

header {
  position: sticky;
  width: 100%;
  height: 6rem;
  background: linear-gradient(to right, #202020, #424242, #737373);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  top: 0;
  padding: 2rem;
  z-index: 100;
  font-size: 1.5rem;
}

header .website-logo {
  height: 4rem;
}

header nav {
  min-width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

header nav a:hover {
  transition: color 0.3s ease;
}

header nav a:hover {
  color: rgb(255, 208, 79);
}

.current-page {
  color: rgb(255, 208, 79);
}

.book-now {
  background-color: #fff;
  color: black;
  padding: 1.5rem 2.5rem;
  border-radius: 25px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.book-now:hover {
  color: #fff;
  background-color: rgb(255, 208, 79);
}

main {
  max-width: 1480px;
}

footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.7rem;
  font-size: 0.7rem;
}

footer .website-logo {
  height: 4rem;
}

.copyright {
  color: black;
  font-style: italic;
}

.soc-meds {
  color: #a5a5a5;
}

.soc-meds li {
  display: inline-block;
}

.soc-meds li:not(:first-child)::before {
  content: "\2022";
  display: inline-block;
  vertical-align: middle;
  color: #a5a5a5;
  font-size: 2rem;
  line-height: 0;
  padding: 0;
  margin: 0 0.5rem;
}

.soc-meds a {
  text-decoration: underline;
}

/* ACCREDITATIONS */

.accreditations-container {
  height: 5rem;
  background-color: rgb(255, 206, 46);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2.5rem;
}

.accreditations-container img {
  max-height: 3rem;
}

.cebu-pacific-logo {
  max-width: calc(((100% / 19.25) * 4.5) - 2rem);
}

.phil-airlines-logo {
  max-width: calc(((100% / 19.25) * 3.25) - 2rem);
}

.twogo-logo {
  max-width: calc(((100% / 19.25) * 2.25) - 2rem);
}

.love-the-phil-logo {
  max-width: calc(((100% / 19.25) * 2.25) - 2rem);
}

.bdo-logo {
  max-width: calc(((100% / 19.25) * 3.25) - 2rem);
}

.kku-travel-logo {
  max-width: calc(((100% / 19.25) * 3.25) - 2rem);
}

.accreditations-gradient-top {
  height: 1.5rem;
  background-color: hsl(56, 100%, 89%);
  background-image: linear-gradient(
      -135deg,
      transparent 75%,
      rgb(255, 77, 71) 75%
    ),
    linear-gradient(135deg, transparent 75%, rgb(255, 77, 71) 75%),
    linear-gradient(-45deg, transparent 75%, rgb(255, 77, 71) 75%),
    linear-gradient(45deg, transparent 75%, rgb(255, 77, 71) 75%);
  background-size: 3rem 3rem;
}

.accreditations-gradient-bottom {
  height: 1.5rem;
  background-color: rgb(255, 77, 71);
  background-image: linear-gradient(
      -45deg,
      transparent 75%,
      hsl(56, 100%, 89%) 75%
    ),
    linear-gradient(45deg, transparent 75%, hsl(56, 100%, 89%) 75%),
    linear-gradient(-135deg, transparent 75%, hsl(56, 100%, 89%) 75%),
    linear-gradient(135deg, transparent 75%, hsl(56, 100%, 89%) 75%);
  background-size: 3rem 3rem;
}

/* DARK OVERLAY WHEN HOVERED */

.dark-overlay-hover {
  position: relative;
}

.dark-overlay-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dark-overlay-hover:hover::before {
  opacity: 0.7;
}

.dark-overlay-hover-text {
  position: relative;
  opacity: 0;
  cursor: default;
  z-index: 2;
  transition: opacity 0.3s ease;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 14px;
  }
  header nav ul {
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
  header nav ul {
    gap: 1rem;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 6px;
  }
  header nav ul {
    gap: 1rem;
  }
}
